/* Body */
body::-webkit-scrollbar {
    width: 6px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
background: #121212;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
background: linear-gradient(
    150deg,
    rgba(252, 0, 255, 1) 3%,
    rgba(29, 26, 210, 1) 100%
);;    /* цвет плашки */
border-radius: 20px;       /* закругления плашки */
}

/* Default */
.container {
    max-width: 1440px;
    margin: 0 auto;
}
