/* Main Page */
/* Modal */
.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: rgba(21, 21, 21, 0.5);

    transition: all 0.5s ease-in-out 0s;
}

.modal.active {
    opacity: 1;
    z-index: 120;
}

.modalContent {
    position: relative;
    z-index: 121;
    width: 500px;
    height: 650px;
    background-color: #f3f3f3;
    border-radius: 30px;

    padding: 40px 30px;
}

.modalClose {
    position: relative;

    cursor: pointer;
}

.modalClose::after,
.modalClose::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 30px;
    height: 2px;
    background: #828282;
    transform: rotate(45deg);
}

.modalClose::before {
    transform: rotate(-45deg);
}

.modalTitle {
    margin-top: 30px;

    text-align: center;
    color: #121212;
    font-size: 32px;
}

.modalTitle span {
    background: #121fcf;
    background: linear-gradient(
        88deg,
        rgba(252, 0, 255, 1) 3%,
        rgba(29, 26, 210, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modalForm {
    text-align: center;
}

/* Input */
.input-container {
    height: 50px;
    position: relative;
    width: 100%;

    border: 1px solid #82828291;
    border-radius: 6px;
}

.tArea {
    height: 100px;
    margin-bottom: 40px;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #f3f3f3;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #121212;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: #f3f3f3;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -25px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder {
    color: #121fcf;
}
/* End Input */

/* One BLog */
.titleBlog {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 900px;
    background: #121212;
    overflow: hidden;
}

.svgTitle {
    position: absolute;
    bottom: 0;
    right: 0;
}

.info {
    position: absolute;
    height: 100%;
    z-index: 2;
    padding: 0 190px;
    padding-top: 100px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    gap: 100px;
}

.infoTitle {
    position: relative;

    width: 408px;
    margin-bottom: 50px;
    font-size: 40px;
}

.carouselInfoText span {
    background: #121fcf;
    background: linear-gradient(
        88deg,
        rgba(252, 0, 255, 1) 3%,
        rgba(29, 26, 210, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.infoText {
    max-width: 505px;
    margin-bottom: 75px;
    font-size: 16px;
}

.infoText span {
    text-transform: uppercase;
    background: #121fcf;
    background: linear-gradient(
        88deg,
        rgba(252, 0, 255, 1) 3%,
        rgba(29, 26, 210, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Animation Text */
:root {
    --s: 20;
    --h: 90;
    --speed: 2s;
}

.carouselInfoWrapper {
    position: absolute;
    bottom: -15%;
    right: -15%;
    width: 400px;
    margin: auto;
    height: calc(var(--h) * 1px);
    line-height: calc(var(--h) * 1px);
    overflow: hidden;
}

.carouselInfoText {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.carouselInfoText span {
    flex-shrink: 0;
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
}

.carouselInfoText {
    animation: move calc(var(--speed) * var(--s)) steps(var(--s)) infinite;
}

.carouselInfoText span {
    white-space: nowrap;
    cursor: pointer;
    animation: liMove calc(var(--speed)) infinite;
}

@keyframes move {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, calc(var(--s) * var(--h) * -1px));
    }
}

@keyframes liMove {
    0% {
        transform: translate(0, 0);
    }
    80%,
    100% {
        transform: translate(0, calc(var(--h) * -1px));
    }
}

/* Main Btn */
.buttons {
    border-radius: 16px;
}

.blob-btn {
    z-index: 1;
    position: relative;
    padding: 20px 46px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #121212;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
    border-radius: 16px;
}
.blob-btn:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #1a1ad2;
    border-radius: 16px;
}
.blob-btn:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 100%;
    height: 100%;
    transition: all 0.3s 0.2s;
    border-radius: 16px;
}
.blob-btn:hover {
    color: #ffffff;
    border-radius: 16px;
}
.blob-btn:hover:after {
    transition: all 0.3s;
    left: 0;
    top: 0;
    border-radius: 16px;
}
.blob-btn__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: #ffffff;
}
.blob-btn__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url("#goo");
}
.blob-btn__blob {
    position: absolute;
    top: 2px;
    width: 25%;
    height: 100%;
    background: #1a1ad2;
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
    .blob-btn__blob {
        transform: translate3d(0, 150%, 0) scale(1.4);
    }
}
.blob-btn__blob:nth-child(1) {
    left: 0%;
    transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
    left: 30%;
    transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
    left: 60%;
    transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
    left: 90%;
    transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
    .blob-btn:hover .blob-btn__blob {
        transform: translateZ(0) scale(1.4);
    }
}

/* Right Info BLog */
.infoRight {
    display: flex;
    justify-content: end;

    margin-top: -190px;
    cursor: pointer;
}

.infoEllipse {
    position: relative;
    background: linear-gradient(
        88deg,
        rgba(252, 0, 255, 1) 3%,
        rgba(0, 219, 222, 1) 150%
    );
    width: 350px;
    height: 400px;
    border-radius: 29% 71% 71% 29% / 36% 30% 70% 64%;

    animation: ellipse 7s linear infinite;
}

.infoEllipse:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        88deg,
        rgba(252, 0, 255, 1) 3%,
        rgba(0, 219, 222, 1) 150%
    );
    transform: translate3d(0px, 0, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.infoEllipse::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

.infoEllipseWrapperImg {
    position: relative;
    background-color: #121212;
    width: 350px;
    height: 400px;
    border-radius: 29% 71% 71% 29% / 36% 30% 70% 64%;
    overflow: hidden;

    animation: ellipse 7s linear infinite;
}

.infoEllipseImg {
    position: absolute;
    top: -18%;
    left: -18%;
    width: 450px;
    height: 550px;
    opacity: 0.8;
}

/* Animation */
@keyframes ellipse {
    0% {
        border-radius: 29% 71% 71% 29% / 36% 30% 70% 64%;
    }
    25% {
        border-radius: 54% 46% 44% 56% / 78% 58% 42% 22%;
    }
    50% {
        border-radius: 76% 24% 80% 20% / 85% 76% 24% 15%;
    }
    75% {
        border-radius: 62% 38% 83% 17% / 63% 50% 50% 37%;
    }
    100% {
        border-radius: 29% 71% 71% 29% / 36% 30% 70% 64%;
    }
}

/*

TwoBlog 

*/

.topBlog {
    max-width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

.advantages {
    padding: 90px 190px 120px;
}

.advantagesTitle {
    max-width: 530px;
    font-size: 36px;
    color: #121212;

    margin-bottom: 50px;
}

.titleSpanOne,
.titleSpanTwo {
    background: #121fcf;
    background: linear-gradient(
        88deg,
        rgba(252, 0, 255, 1) 3%,
        rgba(29, 26, 210, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.advantagesRow {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}

.advantagesCol {
    max-width: 320px;
}

.advantagesCol:last-child {
    margin-right: 0;
}

.advantagesImg {
    margin-left: 20px;
}

.advantagesTitleTwo {
    font-size: 20px;
    margin: 10px 0 15px;
    color: #121212;
}

.advantagesText {
    font-size: 16px;
    color: #828282;
    font-weight: 400;
}

/* 

Free Blog

*/
.freeBlog {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: #121212;
}

.about {
    padding: 90px 190px 120px;
    display: flex;
    justify-content: space-between;
}

.aboutEllipse {
    position: relative;
    background: linear-gradient(
        88deg,
        rgba(252, 0, 255, 1) 3%,
        rgba(0, 219, 222, 1) 150%
    );
    width: 400px;
    height: 550px;
    border-radius: 29% 71% 71% 29% / 36% 30% 70% 64%;

    animation: ellipse 7s linear infinite;
}

.aboutEllipse:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        88deg,
        rgba(252, 0, 255, 1) 3%,
        rgba(0, 219, 222, 1) 150%
    );
    transform: translate3d(0px, 0, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.aboutEllipse::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

.aboutEllipseWrapperImg {
    position: relative;
    background-color: #121212;
    width: 400px;
    height: 550px;
    border-radius: 29% 71% 71% 29% / 36% 30% 70% 64%;
    overflow: hidden;

    animation: ellipse 7s linear infinite;
}

.aboutEllipseImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 600px;
    opacity: 0.8;
}

/* Animation */
@keyframes ellipse {
    0% {
        border-radius: 29% 71% 71% 29% / 36% 30% 70% 64%;
    }
    25% {
        border-radius: 54% 46% 44% 56% / 78% 58% 42% 22%;
    }
    50% {
        border-radius: 76% 24% 80% 20% / 85% 76% 24% 15%;
    }
    75% {
        border-radius: 62% 38% 83% 17% / 63% 50% 50% 37%;
    }
    100% {
        border-radius: 29% 71% 71% 29% / 36% 30% 70% 64%;
    }
}

.aboutRight {
    max-width: 510px;
    margin-left: 25px;
}

.aboutTilte {
    color: #fff;
    font-size: 40px;
}

.aboutInfo {
    color: #828282;
    font-size: 20px;
    margin: 15px 0 50px;
}

.aboutText {
    color: #828282;
    font-size: 14px;
}

.aboutText p {
    margin-bottom: 20px;
}

.btnAbout {
    margin-top: 50px;
}

/* 

Card 

*/
.cardWrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px;
    min-height: 240px;
    flex-shrink: 0;
    border-radius: 16px;

    background: linear-gradient(
        88deg,
        rgba(252, 0, 255, 1) 3%,
        rgba(29, 26, 210, 1) 100%
    );
}

.cardRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    flex-wrap: wrap;

    padding: 40px 70px;
}

.cardCol {
    max-width: 230px;
    margin: 0 auto;

    text-align: center;

    cursor: pointer;
}

.cardText {
    font-size: 20px;
    color: #ffffff;
}

.animationCardImg {
    animation: cardImg 10s linear infinite;
}

@keyframes cardImg {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Five Blog */
.fiveBlog {
    width: 100%;
    height: 100%;
    background: #f3f3f3;
}

.fiveCases {
    padding: 170px 190px 70px;
}

.fiveCasesTitle {
    max-width: 440px;

    font-size: 36px;
    color: #121212;
}

.fiveCasesTitle span {
    background: #121fcf;
    background: linear-gradient(
        88deg,
        rgba(252, 0, 255, 1) 3%,
        rgba(29, 26, 210, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fiveCasesRow {
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
}

.fiveCasesCol {
    max-width: 500px;
}

.fiveCasesCol_1 {
    margin-right: 20px;
}

.fiveContent {
    max-width: 465px;
    margin: 20px auto;

    display: flex;
    justify-content: space-between;
}

.fiveImg {
    overflow: hidden;

    max-width: 500px;
    border-radius: 16px;
}

.fiveImg img {
    width: 100%;
    transition: all 0.7s ease-in-out 0s;
}

.fiveImg:hover img {
    transform: scale(1.05);
}

.caseTitle {
    color: #1e1e1e;
    font-size: 24px;

    transition: all 0.3s ease-in-out 0s;
}

.caseTitle:hover {
    color: rgba(29, 26, 210, 1);
}

.caseTupe {
    margin-top: 10px;

    color: #828282;
    font-size: 16px;
}

.caseBtn {
    position: relative;
    width: 50px;
    height: 50px;

    border-radius: 50px;
    border: 2px solid #828282;
    cursor: pointer;

    transition: all 0.3s ease-in-out 0s;
}

.caseBtnArrow {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);

    width: 15px;
    height: 15px;
    border-top: 2px solid #828282 !important;
    border-right: 2px solid #828282 !important;
    margin: 16px 0 0 10px;
    display: inline-block;

    transition: all 0.3s ease-in-out 0s;
}

.caseBtn:hover {
    border: 2px solid rgba(29, 26, 210, 1);
}

.caseBtn:hover .caseBtnArrow {
    border-top: 2px solid rgba(29, 26, 210, 1) !important;
    border-right: 2px solid rgba(29, 26, 210, 1) !important;
}

/* 

SixBlog 

*/
.sixBlog {
    width: 100%;
    height: auto;
    min-height: 1700px;
    background-color: #121212;
}

.services {
    padding: 100px 190px;
}

.servicesRowServ {
    max-width: 500px;

    display: flex;
    flex-direction: column;
}

.servicesRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.servicesCol {
    margin-top: 50px;
}

.servicesColTypes {
    margin-top: 44px;
}

.servicesTitle {
    color: #f3f3f3;
    font-size: 36px;
}

.servicesInfoText {
    color: #828282;
    font-size: 20px;

    margin-bottom: 30px;
}

.servicesInfoText:last-child {
    margin-bottom: 0;
}

.servicesInfoText span {
    background: #121fcf;
    background: linear-gradient(
        88deg,
        rgba(252, 0, 255, 1) 3%,
        rgba(29, 26, 210, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sticky {
    position: fixed;
    z-index: 10;
}
.stop {
    position: relative;
    z-index: 10;
}

.servicesColType {
    margin-bottom: 100px;
}

.servicesColType:last-child {
    margin-bottom: 0;
}

.servicesColTypeTitle {
    color: #f3f3f3;
    font-size: 32px;

    margin-bottom: 20px;
}

.servicesColTypeContent {
    display: flex;
    justify-content: space-between;
}

.servicesColText {
    color: #828282;
    font-size: 16px;
}

.servicesColPrice {
    text-align: end;
}

.servicesColPrice {
    font-size: 36px;

    background: #121fcf;
    background: linear-gradient(
        88deg,
        rgba(252, 0, 255, 1) 3%,
        rgba(29, 26, 210, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom: 5px;
}

.servicesColPriceRus {
    color: #828282;
    font-size: 16px;

    margin-bottom: 10px;
    text-align: end;
}

.servicesColPriceDate {
    color: #f3f3f3;
    font-size: 24px;
    text-align: end;
}

/* 

SevenBlog

*/
.questions {
    padding: 100px 190px;
}

.questionsTitle {
    color: #121212;
    font-size: 48px;
    margin-bottom: 40px;
}

.questionsCol {
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;
    height: auto;
    min-height: 70px;

    border-bottom: 1px solid rgba(130, 130, 130, 0.6);
}

.questionsCol:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.questionsColContent {
    display: flex;
    align-items: center;
}

.questionsColHeader {
    display: flex;
    justify-content: space-between;
}

.questionsColNum {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 5px;

    color: #f3f3f3;
    font-size: 32px;

    background: linear-gradient(
        88deg,
        rgba(252, 0, 255, 1) 3%,
        rgba(29, 26, 210, 1) 100%
    );
}

.questionsColTitle {
    color: #828282;
    font-size: 20px;
    margin-left: 20px;
}

.questionsColBtn {
    position: relative;
    width: 30px;
    height: 30px;

    transition: all 0.3s ease-in-out 0s;
}

.questionsColBtn::after,
.questionsColBtn::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: rgba(130, 130, 130, 1);

    transition: all 0.3s ease-in-out 0s;
}

.questionsColBtn::before {
    transform: rotate(90deg);
}

.questionsColBtn.active::after {
    background-color: rgba(29, 26, 210, 1);
}

.questionsColBtn.active::before {
    background-color: rgba(29, 26, 210, 1);
}

.questionsColBtn.active {
    animation: questionsRotate 5s linear infinite;
}

@keyframes questionsRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.questionsColFooter {
    display: block;

    margin: -70px 0 40px 20px;
    color: rgba(130, 130, 130, 0.6);
    font-size: 16px;

    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.7s ease-in-out 0s;
}

.questionsColFooter p {
    margin-bottom: 15px;
}

.questionsColFooter.active {
    display: block;
    height: auto;
    opacity: 1;
    margin: 30px 0 40px 20px;
}

/* 

EightBlog

*/
.eightBlog {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        88deg,
        rgba(252, 0, 255, 1) 3%,
        rgba(29, 26, 210, 1) 100%
    );
}

.connection {
    position: relative;
    padding: 50px 190px;
}

.connectionImg img {
    position: absolute;
    max-width: 400px;
    max-height: 300px;
    top: -25%;
    right: 10%;
    z-index: 1;
}

.connectionTitle {
    position: relative;
    z-index: 2;

    color: #f3f3f3;
    font-size: 36px;

    margin-bottom: 30px;
}

.connectionLinks {
    position: relative;
    z-index: 2;
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    gap: 20px;
}

.connectinoLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    border-radius: 8px;
    background-color: #f3f3f3;
    cursor: pointer;

    transition: all 0.5s ease-in-out 0s;
}

.connectinoLink:hover {
    transform: scale(1.05);
}

.connectinoLinkImg {
    width: 30px;
    height: 30px;
}

.connectinoLinkText {
    color: #121212;
    font-size: 16px;

    margin-left: 20px;
    transition: all 0.3s ease-in-out 0s;
}

/* 

Media 

*/

@media (max-width: 1250px) {
    /* Main */
    .services,
    .fiveCases,
    .about,
    .advantages,
    .questions,
    .connection,
    .info {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 1100px) {
    /* fiveCases */
    .fiveCases {
        padding-top: 350px;
    }
}

@media (max-width: 960px) {
    /* Main */
    .services,
    .fiveCases,
    .about,
    .advantages,
    .questions,
    .connection,
    .info {
        padding-left: 60px;
        padding-right: 60px;
    }

    /* Info */
    .infoTitle {
        width: 100%;
        max-width: 400px;
        margin-bottom: 120px;
    }

    .carouselInfoWrapper {
        bottom: -40%;
        right: -30%;
    }

    /* About */
    .aboutEllipse,
    .aboutEllipseWrapperImg {
        width: 280px;
        height: 400px;
    }

    .aboutEllipseImg {
        top: -110px;
        left: -55px;
    }

    /* Services */
    .servicesRow {
        display: block;
    }

    .sticky {
        position: relative;
        margin-top: -190px;
    }

    /* Connection */
    .connectionImg img {
        width: 350px;
        height: 275px;
    }
}

@media (max-width: 675px) {
    /* fiveCases */
    .fiveCasesRow {
        flex-wrap: wrap;
    }

    .fiveCasesCol_1 {
        margin-right: 0;
    }

    .infoLeft {
        position: relative;
        z-index: 2;
    }

    .infoRight {
        position: relative;
        top: -15%;
        left: -70%;
        z-index: 1;
    }

    /* About */
    .aboutEllipse {
        position: absolute;
        top: 110px;
        right: 30px;
        z-index: 1;
    }

    .aboutRight {
        position: relative;
        z-index: 2;

        margin-left: 0;
    }

    .aboutEllipseImg {
        transform: scale(-1, 1);
    }

    .aboutTilte {
        margin-bottom: 300px;
    }

    .aboutInfo {
        color: #f3f3f3;
    }
}

@media (max-width: 640px) {
    /* fiveCases */
    .cardWrapper {
        transform: translate(-50%, -40%);
    }

    .fiveCases {
        padding-top: 425px;
    }
}

@media (max-width: 560px) {
    /* fiveCases */
    .cardWrapper {
        transform: translate(-50%, -30%);
    }

    .fiveCases {
        padding-top: 600px;
    }

    /* Connection */
    .connectionImg img {
        width: 200px;
        height: 150px;
        top: -10%;
        right: 0%;
    }
}

@media (max-width: 525px) {
    /* Main */
    .services,
    .fiveCases,
    .about,
    .advantages,
    .questions,
    .connection,
    .info {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 420px) {
    /* Main */
    .advantages,
    .about,
    .fiveCases,
    .services,
    .questions {
        padding: 40px 20px;
    }
    /* Modal */
    .modalTitle {
        font-size: 24px;
    }

    .modalContent {
        padding-bottom: 0;
    }

    .tArea {
        margin-bottom: 20px;
    }

    /* Five */

    .fiveCases {
        padding-top: 650px;
    }

    .about {
        padding-bottom: 150px;
    }

    /* Title */
    .titleBlog {
        height: 700px;
    }

    .infoTitle {
        width: 250px;
        font-size: 32px;
        margin-bottom: 90px;
    }

    .infoText {
        margin-bottom: 40px;
    }

    .carouselInfoWrapper {
        bottom: -40%;
        right: -57%;
    }

    .infoEllipse,
    .infoEllipseImg,
    .infoEllipseWrapperImg {
        width: 250px;
        height: 300px;
    }

    .infoEllipseImg {
        top: 0%;
        left: -10%;
    }

    .infoRight {
        top: -20%;
        left: -90%;
    }

    /* About */
    .aboutEllipse {
        top: 100px;
        right: 0px;
    }

    /* Questions */
    .questionsColTitle {
        max-width: 195px;
    }

    .questionsColTitle {
        font-size: 16px;
        margin-left: 10px;
    }
}

@media (max-width: 320px) {
    /* About */
    .aboutRight {
        max-width: 260px;
    }
}
